body {
  padding: 20px;
  background-color: #202020;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  color: #ffffff;
}
h1, h2, h3, h4, h5, p {
  margin: 0;
}
hr {
  height: 1px;
  margin: 20px 0;
  border: none;
  background-color: #ff0043;
}
a {
  color: #ff0043;
}
button {
  display: inline-block;
  padding: 3px 6px;
  border: 1px solid;
  background: transparent;
  font-size: 16px;
  color: #ff0043;
  cursor: pointer;
}

/* Header ------------------------------------------------------------------- */

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
header h1 {
  margin-right: 10px;
}
header nav {
  display: flex;
  align-items: center;
}
header nav a {
  margin-left: 10px;
  text-decoration: none;
}

/* Main --------------------------------------------------------------------- */

main {
  min-height: 70vh;
}

/* Form --------------------------------------------------------------------- */

form label,
form input,
form button {
  display: block;
  margin: 6px 0;
}

/* Entries ------------------------------------------------------------------ */

.entry-list {
  padding: 0;
  list-style-type: none;
}
.entry {

}

/* Footer ------------------------------------------------------------------- */

footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
